{% extends "base.html" %}

{% block content %}
  <h1>Workers</h1>
  {% if worker_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
      </tr>
      {% for worker in worker_list %}
        <tr>
          <td><a href="{% url 'core:worker-detail' worker.id %}">{{ worker }}</a></td>
          <td>{{ worker.first_name }} {{ worker.last_name }}</td>
          <td>{% if worker.position %} {{ worker.position }} {% else %} - {% endif %}</td>
          <td><a href="mailto:{{ worker.email }}">{{ worker.email }}</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no workers yet</p>
  {% endif %}
{% endblock %}
