{% extends "base.html" %}

{% block header %}
  <p>{{ worker.username }} - {{ worker.position }}</p>
{% endblock %}

{% block content %}
  <div class="user-profile-content">
    <div class="user-profile-info">
      <p>{{ worker.first_name }} {{ worker.last_name }}</p>
      <p><a href="mailto:{{ worker.email }}">{{ worker.email }}</a></p>
      <hr>
      <p>All tasks:</p>
      {% if worker.tasks.all %}
        {% for task in worker.tasks.all %}
              <a href="{% url "core:task-detail" task.id %}"
                {% if task.is_completed %}
                  style="color: green"
                {% elif task.past_deadline %}
                  style="color: red"
                {% endif %}>
                {{ task.name }}
              </a>
          <br>
        {% endfor %}
      {% else %}
        <p>{{ worker.first_name }} doesn't have any tasks</p>
      {% endif %}
    </div>
    {% if request.user.id == worker.id %}
      <div class="user-profile-settings">
        <a href="{% url "core:worker-update" request.user.id %}" class="btn btn-dark">Edit profile</a>
        {% include "includes/logout_button.html" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
