<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item with-logout">
      <span>User: <a href="{% url "core:worker-detail" user.id %}">{{ user.get_username }}</a></span>
      {% include "includes/logout_button.html" %}
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url "login" %}?next={{request.path}}">Login</a></li>
  {% endif %}
  
  <br>

  <li class="list-group-item"><a href="{% url "core:index" %}">Home</a></li>
  <li class="list-group-item"><a href="{% url "core:task-list" %}">Tasks</a></li>
  <li class="list-group-item"><a href="{% url "core:worker-list" %}">Workers</a></li>
  <li class="list-group-item"><a href="#">Projects</a></li>
</ul>